# 개발환경 - 개발용 DB : mysql(Local)
DATABASE_URL=mysql+pymysql://root:123456@localhost:3306/whisper_db

# 배포용 DB
DATABASE_URL="mysql+pymysql://campus_LGDX6_p3_1:smhrd1@project-db-campus.smhrd.com:3307/campus_LGDX6_p3_1"

# OAuth2 로그인
GOOGLE_CLIENT_ID=your_client_id_here
# GOOGLE_CLIENT_SECRET : Google OAuth 인증용 비밀키, 내 앱이 Google OAuth 서버랑 통신할 때 내가 진짜 등록된 앱이라고 인증하기 위해 사용
GOOGLE_CLIENT_SECRET=your_client_secret_here
GOOGLE_REDIRECT_URI= http://localhost:8000/api/oauth/login/google/callback

KAKAO_CLIENT_ID=your_client_id_here
KAKAO_REDIRECT_URI=http://127.0.0.1:8000/api/oauth/login/kakao/callback

NAVER_CLIENT_ID=your_client_id_here
NAVER_CLIENT_SECRET=your_client_secret_here
NAVER_REDIRECT_URI=http://localhost:8000/api/oauth/login/naver/callback
# 자체발급 JWT SECRET KEY - openssl rand -hex 32 -> cmd창에 입력
# JWT_SECRET_KEY : 내 서버가 자체적으로 JWT를 생성하고 검증할 때 사용 
# 왜 필요한가? - 누가 만든 토큰인지, 내용이 위조되지 않았는지를 확인하기 위해
# 사용자가 준 토큰이 진짜 서버에서 발급한 것인지 검증
JWT_SECRET_KEY=your_jwt_secret_key_here

# vito(stt) api 키값
VITO_CLIENT_ID = your_client_id_here
VITO_CLIENT_SECRET = your_client_secret_here
VITO_AUTH_URL = "https://openapi.vito.ai/v1/authenticate"

# gpt api 키값
OPENAI_API_KEY = your_client_secret_here

# Redis 설정
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
